{% extends 'core/base.html' %}
{% load custom_filters %}

{% block title %}Agenda de Consultas{% endblock %}

{% block extra_head %}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/main.min.css' rel='stylesheet' />
    <style>
        /* Estilos gerais para o calendário */
        #calendar {
            max-width: 1100px;
            margin: 0 auto;
            font-family: 'Inter', Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
            border-radius: 0.5rem;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        }
        .fc-event {
            cursor: pointer;
            border-radius: 0.3rem;
            padding: 3px 5px;
            font-size: 0.9em;
            font-weight: bold;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 3px;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* Cores dos eventos */
        .fc-event-agendado {
            background-color: #E0509B !important; 
            color: #fff !important;
            border-color: #E0509B !important;
        }
        .fc-event-confirmado {
            background-color: #198754 !important; 
            color: #fff !important;
            border-color: #198754 !important;
        }
        .fc-event-atendido {
            background-color: #add8e6 !important; 
            color: #000 !important;
            border-color: #add8e6 !important;
        }
        .fc-event-cancelado {
            background-color: #dc3545 !important; 
            color: #fff !important;
            border-color: #dc3545 !important;
        }
        .fc-event-reservado {
            background-color: #E0509B !important; 
            color: #fff !important;
            border-color: #E0509B !important;
        }

        /* Estilo para o cabeçalho do FullCalendar */
        .fc .fc-toolbar-title {
            font-size: 1.5em;
            color: #343a40;
        }
        .fc .fc-button {
            background-color: #FF69B4;
            border-color: #FF69B4;
            color: #fff;
            border-radius: 0.3rem;
            padding: 0.4em 0.8em;
            font-weight: 600;
        }
        .fc .fc-button:hover {
            background-color: #E0509B;
            border-color: #E0509B;
        }
        .fc .fc-button-primary:not(:disabled).fc-button-active {
            background-color: #E0509B;
            border-color: #E0509B;
        }

        /* Estilo para os dias da semana (dom, seg, ter...) */
        .fc-col-header-cell {
            background-color: #f8f9fa;
            color: #495057;
            font-weight: bold;
        }

        /* Estilo para as células dos dias */
        .fc-daygrid-day {
            border-radius: 0.25rem;
        }
        .fc-daygrid-day-number {
            font-size: 1.1em;
            font-weight: 600;
            padding: 5px;
        }
        body {
            padding-bottom: 100px; 
        }

        /* Estilos para o botão de adicionar responsivo */
        .btn-add-circle {
            width: 45px; 
            height: 45px;
            border-radius: 50%; 
            font-size: 1.5rem; 
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0; 
            box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
        }

        /* Melhorias para telas pequenas */
        @media (max-width: 767.98px) { 
            .fc-toolbar-chunk {
                display: flex;
                flex-direction: column; 
                align-items: center; 
                margin-bottom: 0.9rem; 
            }
            .fc-toolbar-chunk:nth-child(1) { 
                gap: 0.5rem; 
            }
            .fc-toolbar-chunk:nth-child(1) .fc-button-group {
                display: flex;
                gap: 0.5rem; 
            }
            .fc-toolbar-chunk:nth-child(2) {
                margin-top: 1rem; 
                margin-bottom: 1rem; 
                margin-left: 1rem;
            }
            .fc-toolbar-chunk:nth-child(3) { 
                display: flex;
                gap: 0.5rem; 
                flex-wrap: wrap; 
                justify-content: center;
            }
        }
        /* Ajustes para alinhar os botões de visualização e o título do mês/ano em telas maiores */
        @media (min-width: 768px) { 
            .fc-toolbar-chunk:nth-child(1) { 
                display: flex;
                align-items: center;
                gap: 1rem; 
            }
            .fc-toolbar-chunk:nth-child(2) { 
                margin-left: auto; 
                margin-right: auto; 
            }
            .fc-toolbar-chunk:nth-child(3) { 
                display: flex;
                align-items: center;
                gap: 0.5rem; 
            }
        }
    </style>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Agenda de Consultas</h2>
    
    {# Botão com texto para telas maiores (md e acima) #}
    <a href="{% url 'agendar_consulta' %}" class="btn btn-success d-none d-md-block">Agendar Nova Consulta</a>
    
    {# Botão com ícone para telas menores (abaixo de md) #}
    <a href="{% url 'agendar_consulta' %}" class="btn btn-success btn-add-circle d-block d-md-none">
        +
    </a>
</div>

<div class="card mb-4">
    <div class="card-body">
        <div id='calendar'></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core/locales/pt-br.global.min.js'></script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'pt-br',
                slotDuration: '00:30:00',
                slotLabelFormat: {
                    hour: 'numeric',
                    minute: '2-digit',
                    omitZeroMinute: false,
                    meridiem: false
                },
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                slotMinTime: '08:00:00',
                slotMaxTime: '20:00:00',
                events: {
                    url: '{% url "api_consultas_json" %}',
                    failure: function() {
                        alert('Houve um erro ao carregar os eventos!');
                    }
                },
                eventClick: function(info) {
                    if (info.event.url) {
                        window.location.href = info.event.url;
                        info.jsEvent.preventDefault();
                    }
                },
                dateClick: function(info) {
                    var clickedDate = info.dateStr.split('T')[0];
                    var clickedTime = '';
                    if (info.dateStr.includes('T')) {
                        clickedTime = info.dateStr.split('T')[1].substring(0, 5);
                    }
                    
                    var url = "{% url 'agendar_consulta' %}";
                    url += '?data=' + encodeURIComponent(clickedDate);
                    if (clickedTime) {
                        url += "&hora_inicio=" + encodeURIComponent(clickedTime);
                    }
                    window.location.href = url;
                },
                eventDidMount: function(info) {
                    var procedimento = info.event.extendedProps.procedimento || 'Não especificado';
                    var pacienteNome = info.event.extendedProps.paciente_nome;
                    var clinicaNome = info.event.extendedProps.clinica_nome;
                    var statusConsulta = info.event.extendedProps.status;
                    var valor = info.event.extendedProps.valor;
                    var statusPagamento = info.event.extendedProps.pago;

                    var tooltipText =   `<b>Paciente:</b> ${pacienteNome}<br>` +
                                        `<b>Clínica:</b> ${clinicaNome}<br>` +
                                        `<b>Procedimento:</b> ${procedimento}<br>`;
                                       

                    if (typeof tippy !== 'undefined') {
                        tippy(info.el, {
                            content: tooltipText,
                            allowHTML: true,
                            placement: 'top',
                            theme: 'light-border',
                            interactive: true,
                        });
                    } else {
                        console.warn("Tippy.js não está definido.");
                        info.el.setAttribute('title', tooltipText.replace(/<br>/g, '\n'));
                    }

                    info.el.classList.remove('fc-event-agendado', 'fc-event-confirmado', 'fc-event-atendido', 'fc-event-cancelado', 'fc-event-reservado');
                    if (statusConsulta === 'Atendido') {
                        info.el.classList.add('fc-event-atendido');
                    } else if (statusConsulta === 'Cancelado' || statusConsulta === 'Não Compareceu') {
                        info.el.classList.add('fc-event-cancelado');
                    } else if (statusConsulta === 'Confirmado') {
                        info.el.classList.add('fc-event-confirmado');
                    } else if (statusConsulta === 'Reservado') {
                        info.el.classList.add('fc-event-reservado');
                    } else {
                        info.el.classList.add('fc-event-agendado');
                    }
                },
                buttonText: {
                    today: 'Hoje',
                    month: 'Mês',
                    week: 'Semana',
                    day: 'Dia'
                }
            });
            calendar.render();
        });
    </script>
{% endblock %}