{% extends 'core/base.html' %}

{% block title %}{% if form.instance.pk %}Editar Paciente{% else %}Novo Paciente{% endif %}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>{% if form.instance.pk %}Editar Paciente{% else %}Novo Paciente{% endif %}</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} {# Este renderiza todos os campos definidos no fields da view #}
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'paciente_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
