{% extends 'core/base.html' %}

{% block title %}Pacientes{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Lista de Pacientes</h2>
    <a href="{% url 'novo_paciente' %}" class="btn btn-success">Novo Paciente</a>
</div>

<form method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Buscar por nome ou CPF..." value="{{ request.GET.q }}">
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
    </div>
</form>

{% if pacientes %}
    <ul class="list-group">
        {% for paciente in pacientes %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h5>{{ paciente.nome }}</h5>
                    <p class="mb-1">Telefone: {{ paciente.telefone|default_if_none:"N/A" }}</p>
                    <p class="mb-1">Email: {{ paciente.email|default_if_none:"N/A" }}</p>
                    <p class="mb-0">Exames: {{ paciente.exames|default_if_none:"N/A"|truncatechars:100 }}</p> {# Exibe os exames, truncando se for muito longo #}
                </div>
                <div>
                    <a href="{% url 'editar_paciente' paciente.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeira</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% else %}
    <div class="alert alert-info" role="alert">
        Nenhum paciente cadastrado.
    </div>
{% endif %}
{% endblock %}
